ru/* linguist-vendored
*.json linguist-language=JavaScript

phpmailer/class.phpmailer.php* linguist-vendored
phpmailer/class.smtp.php* linguist-vendored
phpmailer/class.phpmaileroauth.php* linguist-vendored
phpmailer/class.phpmaileroauthgoogle.php* linguist-vendored
