/*-----------------------FONTS_BEGIN-----------------------*/
@font-face {
    font-family: 'Gilroy-Bold';
    src: local(''),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gilroy-Medium';
    src: local(''),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
  }
/*-----------------------FONTS_END-----------------------*/
/*-----------------------PRE_CONFIG_BEGIN-----------------------*/
html{
  box-sizing: border-box;
}
*, *::before,  *::after{
  box-sizing: inherit;
}

body{
  font-family: 'Gilroy-Medium', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  color: #070707;
  min-width: 980px;
}
.wrapper{
  max-width: 940px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
}
p {
  margin-top: 1em; 
  margin-bottom: 2em; 
 }
a{
  text-decoration: none;
}
h2{
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  color: #070707;
}
a.anchor {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}
/*-----------------------PRE_CONFIG_END-----------------------*/
/*------------------------HEADER_BEGIN------------------------*/
.container{
  border-bottom: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.header-bottom-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
}
.header-body-menu__links{
  font-family: Gilroy-Bold;
  list-style-type: none;
}
.header-bottom-menu__link {
  color: #828282;
}
.header-bottom-menu__link_active{
  color: #070707;
}
/*-------------------------HEADER_END-------------------------*/
/*------------------------WHOIAM_BEGIN------------------------*/
.whoiam {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 30px 0 104px;
  align-items: flex-end;
}
.whoiam__name {
  font-family: Gilroy-Bold;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}
.whoiam__about {
  color: #070707;
}
.whoiam__language {
  display: flex;
  transform: rotate(-90deg);
  margin: 45px -23px;
  font-family: Gilroy-Bold;
  font-size: 16px;
  line-height: 20px;
}
.whoiam__ru {
  color: #828282;
}
.whoiam__slesh {
  margin: 0px 5px;
}
.whoiam__image {
  margin: 30px 0 0px;
  overflow: hidden;
  height: 350px;
}
.whoiam__photo{
  width: 100%;
  margin: -45% 0 0 0;
}
 
/*------------------------WHOIAM_END-------------------------*/
/*------------------------ABOUT_BEGIN------------------------*/
.about__content {
  width: 100%;
  max-width: 100%;
  background: #F6F6F6;
  height: 506px;
}
.about__content-text {
  padding: 120px 0;
  width: 485px;
  text-align: center;
  margin: 0 auto;
}
/*-------------------------ABOUT_END-------------------------*/
/*-----------------------SKILLS_BEGIN------------------------*/
.skills__heading{
text-align: center;
margin: 91px 0 0px;
}
.skills__heading p{
  margin-top: 65px;
  margin-bottom: 84px; 
  }
.skills__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 110px;
  flex-basis: 25%;
}
.skills__logo {
  margin: 0 auto;
}
.skills__svg {
  height: 80px;
}
.skills__name {
  font-family: Gilroy-Bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
.skills__stars {
  margin: 0 auto;
}
.skills__star {
  padding: 0 4px;
}
/*------------------------SKILLS_END-------------------------*/
/*---------------------PORTFOLIO_BEGIN-----------------------*/
.portfolio {
  text-align: center;
  background: #F6F6F6;
  padding-top: 112px;
  padding-bottom: 96px;
}
.portfolio__blok {
  margin-top: 99px;
}
.portfolio__blok:first-child {
  margin-top: 50px;
}
.portfolio__img img{
  width: 940px;
  margin-bottom: 44px;
}
.portfolio__link a{
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
}
/*----------------------PORTFOLIO_END------------------------*/
/*----------------------CONTACTS_BEGIN-----------------------*/
.contacts-block {
  margin-top: 114px;
  margin-bottom: 120px;
}
.contacts__text {
  text-align: center;
}
.contacts__buttom{
  text-align: center;
}
.contacts__buttom button{
  background:black;
  color: white;
  height: 42px;
  width: 180px;
  border-radius: 21px;
  border: none;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
}
.contacts__messengers {
  margin-top: 85px;
  text-align: center;
}
.contacts__messengers img{
  padding: 0 30px;
  height: 40px;
}
.contacts__bottom {
  margin-top: 45px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
/*----------------------CONTACTS_END-------------------------*/